name: Build CLI version
env:
  NODE_VERSION: "24"

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install
        run: npm install

      - name: Build
        run: npm run build-cli

      - name: Upload Windows binary
        uses: actions/upload-artifact@v6
        with:
          name: cf-warp-win
          path: cf-warp-win.exe

      - name: Upload Linux binary
        uses: actions/upload-artifact@v6
        with:
          name: cf-warp-linux
          path: cf-warp-linux
